<?xml version="1.0" encoding="utf-8"?>
<spring-config>

	<import resource="spring-config2.xml"/>
	
	<beans>
		<bean id="headerBean" class="flash.text.TextField">

				<property name="text" value="My Tweets"/>
				<property name="width" value="300"/>
				<property name="x" value="200"/>
				<property name="y" value="10"/>

				<method name="setTextFormat">
					<method-arg>
						<bean class="flash.text.TextFormat">
							<property name="color" value="0x003366"/>
							<property name="bold" value="true"/>
							<property name="size" value="20"/>
						</bean>
					</method-arg>
				</method>

			</bean>
	</beans>
</spring-config>